@import 'styles/styles.css';

.project-body {
  margin: 0;
  min-height: 100vh;

  background-color: var(--grey-background-color);
  color: var(--light-font-color);
}

.row {
  display: flex;
}

.left-menu {
  flex: 15vw;
}

.right-menu {
  flex: 15vw;
}

.top-menu {
  min-height: 3vh;
}

.bottom-menu {
  min-height: 10vh;
}