@import 'styles/styles.css';

.project-body {
  margin: 0;
  min-height: 100vh;
  color: var(--light-font-color);
}

.bottom-menu {
  position: relative;

  min-height: 10vh;
  background-color: var(--grey-background-color);
}