@import './styles.css';

.Launch {
  text-align: center;
}

.Launch-logo {
  height: 50vmin;
  pointer-events: none;
}

.Launch-header {
  margin: 0;
  background-color: var(--grey-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6vmin;
  color: var(--light-font-color);
}

.Launch-link {
  font-size: 4vw;
}