@import "styles/styles.css";

.text-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-input {
    height: 3vh;
    width: 35vw;
    font-size: 2vh;
}