@import 'styles/styles.css';

.recursive-display-body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

    background-color: var(--light-grey-background-color);
    color: var(--dark-font-color);
}