@import 'styles/styles.css';

.recursive-display-body {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    margin: 0;

    background-color: var(--light-grey-background-color);
    color: var(--dark-font-color);
}