@import "styles/styles.css";

.component {
    margin-top: 0.3vh;
    margin-bottom: 0.1vh;
    accent-color: var(--dark-red-theme);
}

.display {    
    margin-bottom: 30vh;
}

.zoom {
    accent-color: var(--dark-red-theme);
}