:root {
    --dark-background-color: #252525;
    --background-color: #4d4d4d;
    --accent-background-color: #67000d;

    --greyed-out-font-color: #969696;
    --font-color: #f0f0f0;

    /* this matches the red in the cardinal logo */
    --accent-color: #c41a21;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  