@import './../styles.css';

.tooltip-wrapper {
    display: inline-block;
    position: relative;
  }
  

.tooltip {
    position: absolute;
    border-radius: 1vmin;
    padding: 6px;
    color: var(--light-font-color);
    background: var(--black-theme);
    font-family: sans-serif;
    line-height: 1;
    white-space: nowrap;
}